langchain
python-dotenv
ipykernel   #ipykernel#for jupyter notebook support
langchain-community 
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
#cromadb
sentence_transformers
langchain_huggingface
faiss-cpu
